In [5]:
print ("Hello World")

Hello World

In [6]:
#Data Types  are automatically inferred

In [10]:
a=10

In [11]:
type(a)

int

In [12]:
a=10.3

In [13]:
type(a)

float

In [14]:
a="Yash"

In [16]:
type(a)

str

In [79]:
a=True
type(a)

bool

In [19]:
a="2abc"

In [20]:
type(a)

str

In [21]:
#Comments   Single

In [24]:
''' This is the explanation for this function 
It takes 2 parameters....
... 
Done '''   #Bulk Comment

' This is the explanation for this function \nIt takes 2 parameters....\n... \nDone '

In [26]:
#Variables 

a=10
b=20
c=a+b

In [ ]:
#Rules for naming a variable

In [27]:
n1=10
n2=20

In [28]:
print (n1+n2)

30

In [29]:
#1. Variable names can have only alphabets,digits and _

n1=10

In [30]:
n_1=10

In [32]:
_=10

In [33]:
_

10

In [34]:
1n=10

SyntaxError: invalid syntax (<ipython-input-34-128a358b8e64>, line 1)

In [ ]:
#2. Variable name cannot start with a digit

In [ ]:
#3. Variable names are case senitive

In [38]:
a=10
A=20

In [37]:
print (a)

10

In [39]:
print (A)

20

In [40]:
#4. Keywords should not be used as variable names

In [41]:
#Operators

In [ ]:
#1.Arithmetic 

+ - * / %

In [42]:
10*3

30

In [43]:
100/20

5.0

In [44]:
45%6

3

In [45]:
10%3

1

In [46]:
100**2

10000

In [58]:
#2. Assignment Operators 
a=10

In [59]:
a+=10  # a=a+10

In [60]:
a

20

In [61]:
a*=4

In [62]:
a

80

In [ ]:
#3.Relational Operator

In [63]:
a=10
b=20

In [64]:
a>b

False

In [65]:
a<b

True

In [66]:
a>=b

False

In [67]:
a<=b

True

In [70]:
a==b

False

In [76]:
a!=b

True

In [77]:
#Shift+Enter : runs the cell and moves to next cell 

#Alt+Enter : runs the cell and creates a new cell below 

#Control +Enter : runs the cell and stays on the same cell

In [ ]:
#4. Logical Operator 

and or not

In [ ]:
#5. Membership testing 

in 
not in

In [80]:
a=10

In [81]:
a="yash"

In [82]:
a

'yash'

In [83]:
del a

In [84]:
a

NameError: name 'a' is not defined

In [85]:
def Constant1():
    return 42

In [86]:
Constant1()

42

In [ ]:
#Indentation

In [ ]:
#Statements 

    #Conditional 
        #If 
        #if else
        #if elif(s) else 
        
    
    
    #Iterative/Looping 
        #for 
        #while 
    
    
    #Jump 
        #break 
        #continue 
        #return 
        #pass

In [89]:
a=10
b=20

In [90]:
if a>b

{
    print ("a is greater")
}

SyntaxError: invalid syntax (<ipython-input-90-a4142d2623d8>, line 1)

In [91]:
if a>b:
    print ("a is greater")

In [92]:
for i in [1,2,3,4]:
    print (i)

1
2
3
4

In [93]:
#Input something from a user

In [94]:
#WAP to input 2 numbers from user and print the sum

In [96]:
a=input("Enter a number : ")   
b=input("Enter another number : ")

Enter a number : 10
Enter another number : 20

In [97]:
print(a+b)

1020

In [98]:
a

'10'

In [99]:
b

'20'

In [100]:
"yash"+"abc"

'yashabc'

In [103]:
a=int( input("Enter a number : ") )  
b=int( input("Enter another number : "))

Enter a number : 10
Enter another number : 20

In [104]:
print (a+b)

30

In [107]:
age=int( input("Enter age: ") )  

if age>=18:
    print ("Eligible to vote ")
    print ("Successful")

Enter age: 15

In [111]:

age=int( input("Enter age: ") )  

if age>=18:
    print ("Eligible to vote ")
    print ("Successful")
else:
    print ("Not eligible to vote ")
    print ("Unsuccessful")

Enter age: 43
Eligible to vote
Successful

In [119]:
#if elif else 

#WAP to enter a character from user and  print the following 
# Y  yellow 
# R  red 
# W  white 


inp=input("Enter a character ")

if inp=="Y":
    print ("Yellow ")
elif inp=="R":
    print ("Red")
elif inp=="W":
    print ("White ")
else:
    print ("Invalid choice")

Enter a character y
Invalid choice

In [122]:
#if elif else 

#WAP to enter a character from user and  print the following 
# Y/y  yellow 
# R/r  red 
# W/w  white 


inp=input("Enter a character ")

if inp=="Y" or inp=="y" :
    print ("Yellow ")
elif inp=="R" or inp=="r":
    print ("Red")
elif inp=="W" or inp =="w":
    print ("White ")
else:
    print ("Invalid choice")

Enter a character w
White

In [128]:
#WAP to enter a number and check the following :

#Divisible by 2 and 5 
#Only by 2 
#Only by 5 
#Niether Divisible by 2 nor 5 

inp=int(input("Enter a number  "))


if inp%2==0 and inp%5==0:
    print ("Divisible by 2 and 5  ")
    
elif inp%2==0:
    print ("Only by 2 ")
    
elif inp%5==0:
    print ("Only by 5 ")
    
else:
    print ("Niether divisible by 2 nor 5 ")

Enter a number  25
Only by 5

In [ ]:
#Python data structures 

#List , tuples ,strings, dict, sets

In [ ]:
#List is a collection of hetrogenus/homogenus datatypes

In [131]:
list1=['Yash',34,True,6.0]

In [132]:
list2=[1,2,3,4,5,6]

In [133]:
type(list1)

list

In [134]:
type(list2)

list

In [135]:
list1[0]

'Yash'

In [136]:
len(list1)

4

In [137]:
len(list2)

6

In [139]:
list1

['Yash', 34, True, 6.0]

In [142]:
list1[0],type(list1[0])

('Yash', str)

In [143]:
list1[1],type(list1[1])

(34, int)

In [144]:
list1[2],type(list1[2])

(True, bool)

In [145]:
list1[3],type(list1[3])

(6.0, float)

In [146]:
list1[4],type(list1[4])

IndexError: list index out of range

In [147]:
list1

['Yash', 34, True, 6.0]

In [154]:
for temp in list1:
    print (temp,type(temp))

Yash <class 'str'>
34 <class 'int'>
True <class 'bool'>
6.0 <class 'float'>

In [157]:

for each in list2:
    print ("Number is :",each," it's square is :",each**2)

Number is : 1  it's square is : 1
Number is : 2  it's square is : 4
Number is : 3  it's square is : 9
Number is : 4  it's square is : 16
Number is : 5  it's square is : 25
Number is : 6  it's square is : 36

In [ ]:
for (i=10;i<=100;i+=10):
    print (i )

In [160]:
print ("Number  Sqaure")
for each in list2:
    print (each,"       ",each**2)

Number  Sqaure
1         1
2         4
3         9
4         16
5         25
6         36

In [161]:
 list3=[ [1,2],[3,4],[5,6]]

In [163]:
list3

[[1, 2], [3, 4], [5, 6]]

In [164]:
list3[0]

[1, 2]

In [165]:
list3[1]

[3, 4]

In [167]:
for a,b in list3:
    print (a,"--",b)

1 -- 2
3 -- 4
5 -- 6

In [170]:
list2

[1, 2, 3, 4, 5, 6]

In [168]:
for each in list2:
    print (each)

1
2
3
4
5
6

In [169]:
#While loop

In [ ]:
#initilization
#while(condition):
    #Statement(s)
    #Update

In [171]:
i=1
while(i<=7):
    print (i)
    i+=1

1
2
3
4
5
6
7

In [172]:
i

8

In [173]:
"QUIT" 

items=[]
inp=input("Enter item>>")
while (inp!="QUIT"):
    items.append(inp)
    inp=input("Enter item>>")

Enter item>>bread
Enter item>>butter
Enter item>>eggs
Enter item>>milk
Enter item>>QUIT

In [174]:
items

['bread', 'butter', 'eggs', 'milk']