In [ ]:
#Statements 

    #Conditional 
        #If 
        #if else
        #if elif(s) else 
        
    
    
    #Iterative/Looping 
        #for 
        #while 
    
    
    #Jump 
        #break 
        #continue 
        #return 
        #pass

In [10]:
for each in [1,2,3,4,5,6]:
    if each==5:
        break
    
    print (each)
print ("Outside Loop")

1
2
3
4
Outside Loop

In [6]:
for each in [1,2,3,4,5,6]:
    if each==5:
        continue
    
    print (each)

1
2
3
4
6

In [7]:
if each==5:
    break

SyntaxError: 'break' outside loop (cell_name, line 5)

In [11]:
i=1
while(i<=7):
    if i==5:
        break
    print (i)
    i+=1

1
2
3
4

In [25]:
for each in [1,2,3,4,5,6,7,8]:
    if each%2==0:
        pass  #passing now , will come back later 
    else:
        print(each,"is odd.")

1 is odd.
3 is odd.
5 is odd.
7 is odd.

In [20]:
num=int(input())
if num%5==0:
    pass

3

# Module 2 : Sequences and File Operations

In [26]:
#Python data structures 

#List , 
#tuples ,
#strings, 
#dict, 
#sets

In [27]:
#List 

#is a collection of hetrogenus values

In [46]:
list1=['Yash',34,True,6.0]

In [29]:
list2=[1,2,3,4,5,6]

In [30]:
len(list1)

4

In [31]:
len(list2)

6

In [32]:
#Indexing is 0 based

In [33]:
list1[0]

'Yash'

In [34]:
#Repetition

In [44]:
list1=list1*4

In [45]:
list1

['Yash',
 34,
 True,
 6.0,
 'Yash',
 34,
 True,
 6.0,
 'Yash',
 34,
 True,
 6.0,
 'Yash',
 34,
 True,
 6.0]

In [48]:
[1]*300

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [49]:
#Slicing

In [50]:
list1

['Yash', 34, True, 6.0]

In [51]:
list2

[1, 2, 3, 4, 5, 6]

In [55]:
list1[0:3]

['Yash', 34, True]

In [60]:
list1[1:3]

[34, True]

In [61]:
list1[4:7]

[]

In [62]:
list1[:2]

['Yash', 34]

In [63]:
list1[1:]

[34, True, 6.0]

In [64]:
list1[3:0:-1]

[6.0, True, 34]

In [65]:
list1[0:3]

['Yash', 34, True]

In [67]:
list1[:]

['Yash', 34, True, 6.0]

In [68]:
list1[2:]

[True, 6.0]

In [71]:
list1[2:]

[True, 6.0]

In [72]:
list3=[11,22,33,44,55,66,77,88,99,111,222,333]

In [74]:
list3[1:]

[22, 33, 44, 55, 66, 77, 88, 99, 111, 222, 333]

In [75]:
list3[:5]

[11, 22, 33, 44, 55]

In [78]:
list3[1::2]

[22, 44, 66, 88, 111, 333]

In [81]:
#negative indexes

In [82]:
list3

[11, 22, 33, 44, 55, 66, 77, 88, 99, 111, 222, 333]

In [83]:
list3[0]

11

In [84]:
list3[-1]

333

In [85]:
list3[-2]

222

In [87]:
len(list3)

12

In [88]:
list3[-12]

11

In [89]:
list3

[11, 22, 33, 44, 55, 66, 77, 88, 99, 111, 222, 333]

In [90]:
list3[11:1:-1]

[333, 222, 111, 99, 88, 77, 66, 55, 44, 33]

In [91]:
list3[::-1]  #short cut for reversing the list

[333, 222, 111, 99, 88, 77, 66, 55, 44, 33, 22, 11]

In [95]:
list3[-1:-13:-1]

[333, 222, 111, 99, 88, 77, 66, 55, 44, 33, 22, 11]

IndexError: list index out of range

In [96]:
#Functions of list

In [97]:
list1

['Yash', 34, True, 6.0]

In [98]:
list1.append('Delhi')

In [99]:
list1

['Yash', 34, True, 6.0, 'Delhi']

In [100]:
list1.index('Yash')

0

In [101]:
list1.index('Delhi')

4

In [102]:
list1.index('Berlin')

ValueError: 'Berlin' is not in list

In [ ]:
#Remove elements 

    #Index wise 
    
    #Element wise

In [103]:
#Element wise 

list1

['Yash', 34, True, 6.0, 'Delhi']

In [104]:
list1.remove(True)

In [106]:
list1

['Yash', 34, 6.0, 'Delhi']

In [107]:
#Index Wise

In [108]:
list1.pop()

'Delhi'

In [109]:
list1

['Yash', 34, 6.0]

In [110]:
list1.pop(0)

'Yash'

In [111]:
list1

[34, 6.0]

In [113]:
list1.insert(0,'Yash')

In [115]:
list1

['Yash', 34, 6.0]

In [116]:
list1.insert(2,True)

In [117]:
list1

['Yash', 34, True, 6.0]

In [118]:
list4=list1.copy()

In [119]:
list4

['Yash', 34, True, 6.0]

In [120]:
list1.reverse()

In [121]:
list1

[6.0, True, 34, 'Yash']

In [123]:
list5=[1,2,3,4,5]
list6=[7,8,9]

In [124]:
list5.append(list6)

In [125]:
list5

[1, 2, 3, 4, 5, [7, 8, 9]]

In [126]:
list5.pop()

[7, 8, 9]

In [127]:
list5

[1, 2, 3, 4, 5]

In [128]:
list5.extend(list6)

In [129]:
list5

[1, 2, 3, 4, 5, 7, 8, 9]

In [131]:
list5[0]=0 #mutable

In [132]:
list5

[0, 2, 3, 4, 5, 7, 8, 9]

In [133]:
list6=[1,5,2,7,8,4,5,6]

In [136]:
list6.sort(reverse=True)

In [137]:
list6

[8, 7, 6, 5, 5, 4, 2, 1]

In [139]:
list1.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [140]:
list1

[True, 6.0, 34, 'Yash']

In [141]:
list1.clear()

In [142]:
list1

[]

In [143]:
del list1

In [144]:
list1

NameError: name 'list1' is not defined

In [146]:
list2.extend([1,1,2,3,4,5,3,2,1])

In [147]:
list2

[1, 2, 3, 4, 5, 6, 1, 1, 2, 3, 4, 5, 3, 2, 1]

In [148]:
list2.count(2)

3

In [149]:
list2.count(1)

4

In [ ]:
#Tuples

In [150]:
#1. Tuples are immutable

#2. Tuples are faster in execution

In [151]:
t1=('Yash',34,True,6.0)

In [152]:
type(t1)

tuple

In [153]:
#Indexing
t1[0]

'Yash'

In [154]:
#Slicing
t1[1:3]

(34, True)

In [156]:
#Repetition
t1*2

('Yash', 34, True, 6.0, 'Yash', 34, True, 6.0)

In [157]:
t1

('Yash', 34, True, 6.0)

In [158]:
t1[1]=35

TypeError: 'tuple' object does not support item assignment

In [160]:
list1=['Yash',34,True,6.0]

In [161]:
list1[1]=35

In [162]:
list1

['Yash', 35, True, 6.0]

In [165]:
temp=list(t1)

In [167]:
temp[1]=35

In [169]:
t1=tuple(temp)

In [170]:
t1

('Yash', 35, True, 6.0)

In [172]:
t1.index('Yash')

0

In [173]:
t1.count(35)

1

In [ ]:
import matplotlib  #data visualization

In [ ]:
enumerate

In [175]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [176]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [177]:
enumerate?

In [178]:
#Dictionary

#key -value pairs

In [ ]:
list1=['Yash',34,True,6.0]

In [180]:
d={'name':'Yash',
'age':34,
'height':6.0}

In [182]:
d[0]

KeyError: 0

In [183]:
d['name']

'Yash'

In [ ]:
#no indexing , no slicing , no repetition

In [185]:
d*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [186]:
d

{'name': 'Yash', 'age': 34, 'height': 6.0}

In [187]:
d['age']=35

In [188]:
d

{'name': 'Yash', 'age': 35, 'height': 6.0}

In [191]:
list(d.keys())

['name', 'age', 'height']

In [192]:
list(d.values())

['Yash', 35, 6.0]

In [193]:
d['city']='Delhi'

In [194]:
d

{'name': 'Yash', 'age': 35, 'height': 6.0, 'city': 'Delhi'}

In [195]:
del d['city']

In [196]:
d

{'name': 'Yash', 'age': 35, 'height': 6.0}

In [199]:
for each in d:
    print (each,"--",d[each])

name -- Yash
age -- 35
height -- 6.0

In [215]:
details={'Name':['Yash','Sam','Abhi','Nakul','Richard'],
        'Age':[34,35,36,32,31]}

In [216]:
details

{'Name': ['Yash', 'Sam', 'Abhi', 'Nakul', 'Richard'],
 'Age': [34, 35, 36, 32, 31]}

In [202]:
import pandas as pd

In [204]:
df=pd.DataFrame(details)

In [206]:
df['Salary']=[11,22,33,44,55]

In [208]:
df.to_csv('Details.csv',index=False)

In [214]:
details['Name'][-1]

'Richard'

In [217]:
#Sets

In [ ]:
#collection of unique values

In [218]:
s1={1,2,3,4,5,6,1,2,3,4}
s2={4,5,6,3,2,4,5,6,9,9}

In [219]:
s1

{1, 2, 3, 4, 5, 6}

In [220]:
s2

{2, 3, 4, 5, 6, 9}

In [221]:
type(s1)

set

In [222]:
type(s2)

set

In [223]:
type(d)

dict

In [224]:
#intersection , union , difference

In [225]:
s1

{1, 2, 3, 4, 5, 6}

In [226]:
s2

{2, 3, 4, 5, 6, 9}

In [227]:
s1.intersection(s2)

{2, 3, 4, 5, 6}

In [228]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 9}

In [229]:
s1-s2

{1}

In [230]:
s2-s1

{9}

In [232]:
s1[0]

TypeError: 'set' object does not support indexing

In [233]:
s1.add(3)

In [235]:
s1.add(43)

In [236]:
s1

{1, 2, 3, 4, 5, 6, 43}

In [237]:
s1.remove(3)

In [238]:
s1

{1, 2, 4, 5, 6, 43}

In [239]:
list(s1)

[1, 2, 4, 5, 6, 43]

In [240]:
#Strings 

s1='Hello World'

s2="Hello World"

s3='''Hello World'''

In [241]:
type(s1)

str

In [242]:
type(s2)

str

In [243]:
type(s3)

str

In [244]:
#indexing

In [246]:
s1[0]

'H'

In [247]:
s2[1]

'e'

In [248]:
s1[2]

'l'

In [249]:
s1[-1]

'd'

In [250]:
#Slicing

In [252]:
s1[1:]

'ello World'

In [253]:
s1[:4]

'Hell'

In [254]:
s1[5:]

' World'

In [256]:
s1[::2]   # variable_name[start_index : stop_index : skip]

'HloWrd'

In [ ]:
#Repetition

In [258]:
s1*2

'Hello WorldHello World'

In [260]:
s1[0]='Z'

TypeError: 'str' object does not support item assignment

In [261]:
s1+" bye world"

'Hello World bye world'

In [262]:
d

{'name': 'Yash', 'age': 35, 'height': 6.0}

In [263]:
d['Name']=d['name']

In [264]:
d.pop('name')

'Yash'

In [265]:
d

{'age': 35, 'height': 6.0, 'Name': 'Yash'}

In [266]:
s1

'Hello World'

In [267]:
list(s1)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [269]:
s1.split(" ")

['Hello', 'World']

In [273]:
s4="This.is.Data.Science.class"

In [275]:
s4.split(".")

['This', 'is', 'Data', 'Science', 'class']

In [276]:
s5=input("Enter a sentence ")

Enter a sentence        engineeryashsaxena@gmail.com

In [282]:
s5=s5.strip()

In [284]:
s5.isalpha()

False

In [285]:
s6="ABC123"

In [286]:
s6.isalnum()

True

In [287]:
s6.isalpha()

False

In [288]:
"ABC".isalpha()

True

In [289]:
"123".isdigit()

True

In [290]:
"abc".islower()

True

In [291]:
"abDDc".islower()

False

In [292]:
"DD".isupper()

True

In [294]:
"abc".upper()

'ABC'

In [295]:
"XYZ".lower()

'xyz'

In [296]:
"YASH".capitalize()

'Yash'

In [297]:
#ASCII 

#american standard code for information interchange

In [ ]:
A-Z  65-90
a-z  97-122
0-9 . 48-57 

space  32

In [298]:
ord('A')

65

In [302]:
ord('Z')

90

In [300]:
ord(' ')

32

In [303]:
chr(65)

'A'

In [304]:
chr(90)

'Z'

In [305]:
chr(97)

'a'

In [306]:
chr(96)

'`'

In [308]:
#WAP to enter from user and print each character along with it's ASCII va

for each in input("Enter a string "):
    print (each,ord(each))

Enter a string YASh
Y 89
A 65
S 83
h 104

In [ ]:
YASH
ZBTI

In [318]:
encoded=""
for each in input("Enter a string "):
    
    #ascii_value=ord(each)
    
    #encoded_ascii_value=ascii_value+1
    
    #chr_encoded_ascii_value=chr(encoded_ascii_value)
    
    #print (each,ascii_value,encoded_ascii_value,chr_encoded_ascii_value)
    
    chr(ord(each)+1)
    encoded+=chr(ord(each)+1)
    
    
print ("Encoded String : ",encoded)

Enter a string abc
Encoded String :  bcd

In [314]:
encoded

'zbti'

In [319]:
s1

'Hello World'

In [320]:
s1="Hi World"

In [321]:
s1

'Hi World'

In [ ]:
#File Operations

In [ ]:
#.TXT files

'r' 
'w'
'a'

In [329]:
file=open("Greeting.txt",'w')

In [330]:
file.write("Welcome to this course on Data Science")
file.close()

In [325]:
file=open("Greeting.txt",'r')

In [326]:
file.read()

'Welcome to this course on Data Science'

In [327]:
file.close()

In [331]:
file=open("Greeting.txt",'a')
file.write(" Using python")
file.close()

In [332]:
file_location="/Users/ysaxena/Desktop/abc/Greeting.txt"
file=open(file_location,'w')
file.write(" Hi ")
file.close()

In [333]:
file=open(file_location,'a')
file.write("\n How are you ? ")
file.close()

In [334]:
file=open(file_location,'r')
content=file.read()
file.close()

In [335]:
content

' Hi \n How are you ? '

In [ ]:
r+
w+
a+

In [339]:
file_location="/Users/ysaxena/Desktop/abc/Welcome.txt"

file=open(file_location,'r+')
file.write("Hiii")
#file.close()

4

In [340]:
file.close()

In [ ]:
r , w , a ,r+ ,w+ ,a+


#rb , wb , ab ,rb+ ,wb+ ,ab+

In [ ]:
file_location="/Users/ysaxena/Desktop/abc/Welcome.txt"

file=open(file_location,'w+')
file.read()
#file.close()